.brands-section {
    margin-top: 181px;
    &-block {
        &-spanBox {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px 90px;
        }
    }
}