.header {   
    &-block {
        &-flexbox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            &-nav {
                &-ul {
                    display: flex;
                    gap: 0 73px;
                    flex-wrap: wrap;
                    justify-content: center;
                    
                    &-li {
                        &__text {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 30px;
                            color: #AAAAAB;
                            transition: 0.4s ease;
                        }

                        &__text:hover {
                            color: black;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 540px) {
        .header {
            &-block {
                &-flexbox {
                    justify-content: center;
                }
            }
        }        
    }

}