.subscribe-section {
    margin-top: 163px;

    &-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 18px 0;
        position: relative;

        &__text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            color: #919299;
            max-width: 505px;
            min-height: 87px;
        }

        &__img {
            position: absolute;
            left: -100px;
            top: 10px;
        }

        &-form {

            &__input {
                max-width: 706px;
                min-height: 82px;
                display: inline-block;
                background: #FFFFFF;
                border-radius: 4px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                padding-left: 60px;
                padding-right: 160px;
                color: #D2D2D2;
                border: none;
                box-shadow: 5px 7px 5px;
            }

            &__btn {
                padding: 10px 35px;
                filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
                background-color: #F78CB6;
                border-radius: 3px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 450;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
                margin: 0 auto;
            }
        }
    }
}